$white: #FFFFFF;

$color: #FF42B3;
$colorActive: #EB18FD;

$borderColor: #FF42B3;
$borderLinearGradient: radial-gradient(129.05% 264.65% at 131.12% 26.74%, #46B2E8 0%, #579EED 11.18%, #826BF9 33.92%, #9850FF 44.86%);;

$backgroundColor: linear-gradient(95.63deg, #FF42B3 -1.58%, #EB18FD 99.31%);
$backgroundLinearGradient: linear-gradient(94.67deg, #260621 0%, #241135 52.08%, #051928 100%);

$orange: #FFA60A;
$orangeActive: #FFA60A;
$borderOrange: #FFA60A;
$backgroundColorOrange: linear-gradient(180deg, #FFA60A 0%, #FF940A 100%);
